<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Players</title>
</head>
<body>
    <h1>Player System</h1>
    <div class="container">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="temp: ${players}">
                <th th:text="${temp.id}" scope="row"></th>
                <td th:text="${temp.name}"></td>
                <td th:text="${temp.number}"></td>
                <td th:text="${temp.address}"></td>
                <td th:text="${temp.phone}"></td>
                <td>
                    <a th:href="@{/get-player(playerid=${temp.id})}" class="btn btn-info">Edit</a>
                    <a th:href="@{/delete-player(playerId=${temp.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            </tbody>
        </table>
        <a th:href="@{/add-player}" class="btn btn-primary">Add Player</a>
    </div>
</body>
</html>